body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color:#000;
  text-decoration: none;
}

.custom-card {
  max-width: 960px;
  width: 75%;
}

.animated, .animated-left-item,.animated-right-item {
  opacity: 1;
  animation: showUp 1.5s normal; 
}
.animated-svg {
  opacity: 1;
  animation: showUp 4s normal; 
}
.animated-svg svg {
  animation:svg-animation 2s normal;
}

.cv-card-shadow{
  box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
}

.content {
  z-index: 1;
  position: relative;
}

.skill {
  min-width: 77px;
  margin: 0;
}

.fa-linkedin-square{
  color: #0a66c2;
}
.fa-linkedin-square:hover {
  color:	#838383;
}

.progress {
  height: 0.5rem;
}

.progress-bar{
  animation: progressBar 3s ease-in-out;
  animation-fill-mode:both; 
  height: 0.5rem;
}

.job-list-item:hover {
  background-color: #838383;
  color:#fff;
}

.job-list-selected {
  background-color: #545454;
  color:#fff;
}

/* .description-border-top {

  border-top: 4px solid #198754;
  color:#757575;
} */

.job-text-list{
  list-style: square;
}

.text-item{
  line-height: 1.1;
  font-size: 0.9rem;
}

.svg-position {
  position: absolute;
  z-index: 0;
  left: calc(50% - 150px); 
}

.footer {
  padding: 30px 0;
}

.footer .social i.fa{
  color:#d7d7d7
}

.footer .social i.fa:hover{
  background-color: rgba(0, 0, 0, 0.1);
  color:#6e6e6e;
}

.attributions {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 0.8rem;
  color: #6e6e6e;
}
.attributions a:hover{
  color: #198754;
}

@-webkit-keyframes progressBar{
  0%{width: 5%;}
}

@keyframes progressBar{
  0%{width: 5%;}
}

@-webkit-keyframes svg-animation {
  0%{height:0;}
}

@keyframes svg-animation {
  0%{height:0;}
}


@media screen and (min-width:576px){
  .profile-card {
    width: 50%;
  }
}

@media screen and (min-width:768px){
  
  
  .description-border-top.arrow-left:after {
    content: " ";
    position: absolute;
    left: -15px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: 15px solid #fff;
    border-left: none;
    border-bottom: 15px solid transparent;
  }
  
  .description-border-top.arrow-right:after {
    content: " ";
    position: absolute;
    right: -15px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: none;
    border-left: 15px solid #fff;
    border-bottom: 15px solid transparent;
  }

  .circle{
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: #198754;
    width: 9px;
    height: 9px;
    top: 27px;
  }

  .left{
    right:-34px;
  }

  .right {
    left:-33px;
  }

  .animated-left-item {
    opacity: 1;
    animation: showUpLeft 1s normal;  
  }
  .animated-right-item {
    opacity: 1;
    animation: showUpRight 1s normal;  
  }
  small.date{
    float:right;
  }
  .attributions {
    position: absolute;
    text-align: justify;
    width: auto;
    right: 0;
    margin-right: 3rem;
    font-size: 0.8rem;
    color: #6e6e6e;
  }

}

